@font-face {
  font-family: 'Lora';
  src: url('../fonts/Lora/static/Lora-Regular.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: 'Lora';
  src: url('../fonts/Lora/static/Lora-Medium.ttf') format('truetype');
  font-weight: 500;
  font-style: normal;
}
@font-face {
  font-family: 'Lora';
  src: url('../fonts/Lora/static/Lora-Semibold.ttf') format('truetype');
  font-weight: 600;
  font-style: normal;
}
@font-face {
  font-family: 'Lora';
  src: url('../fonts/Lora/static/Lora-Bold.ttf') format('truetype');
  font-weight: 700;
  font-style: normal;
}
