@font-face {
  font-family: 'Nunito';
  src: url('../fonts/Nunito/static/Nunito-Regular.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: 'Nunito';
  src: url('../fonts/Nunito/static/Nunito-Medium.ttf') format('truetype');
  font-weight: 500;
  font-style: normal;
}
@font-face {
  font-family: 'Nunito';
  src: url('../fonts/Nunito/static/Nunito-Semibold.ttf') format('truetype');
  font-weight: 600;
  font-style: normal;
}
@font-face {
  font-family: 'Nunito';
  src: url('../fonts/Nunito/static/Nunito-Bold.ttf') format('truetype');
  font-weight: 700;
  font-style: normal;
}
@font-face {
  font-family: 'Nunito';
  src: url('../fonts/Nunito/static/Nunito-ExtraBold.ttf') format('truetype');
  font-weight: 800;
  font-style: normal;
}
