@font-face {
  font-family: 'PT Serif';
  src: url('../fonts/PT_Serif/PTSerif-Regular.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: 'PT Serif';
  src: url('../fonts/PT_Serif/PTSerif-Bold.ttf') format('truetype');
  font-weight: 700;
  font-style: normal;
}
